<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name">
    <br>
    <label for="lastName">Last Name</label>
    <input type="text" th:field="*{lastName}" id="lastname">
    <input type="submit" value="Update User">
</form>
</body>
</html>