<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
</head>
<body>
<div align="center">
    <h2>User</h2>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
        </tr>
        <tr>
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.getLastName()}"></td>
            <td>
                <a th:href="@{/{id}/edit(id=${user.getId()})}">Create</a>
                <form th:method="DELETE" th:action="@{/{id}(id=${user.getId()})}">
                    <input type="submit" value="delete"/>
                </form>
            </td>
        </tr>
    </table>
    <br/>
</div>
</body>
</html>